.learn-to-play-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--font-three);
    width: 80%;
    margin: 0 auto;
}

.learn-to-play-container h1 {
    text-align: center;
    margin: 0;
}

.learn-to-play-container h2 {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    color: var(--color-one);
    margin: 0;
}

.learn-to-play-video-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.learn-to-play-video {
    margin: 0 auto;
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
}

.learn-to-play-video iframe {
    width: 100%;
}

.learn-to-play-text {
    padding: 2rem;
}

.learn-to-play-text h1 {
    color: var(--color-three);
    font-size: 1.5rem;
    font-weight: 700;
}

.learn-to-play-text p {
    color: var(--color-one);
    font-size: 1.1rem;
    text-indent: 2rem;
}

@media (max-width: 1400px) {
    .learn-to-play-container {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .learn-to-play-video-container {
        display: flex;
        flex-direction: column;
    }
}