@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/enchanted-land');

* {
  --font-primary: "Inika", serif;
  --font-secundary: 'Enchanted Land', sans-serif;
  --color-bg: #000D0F;
  --color-primary: white;
  --color-secundary: #00EEFF;
  --color-three: #FF7700;
  --degrade-primary: linear-gradient(#000d0f00, #000D0F);
  --degrade-secundary: radial-gradient(#000d0f00, #000D0F);
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  background: var(--color-bg);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}